<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assets</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>Click_stereo.ogg.mp3</string>
			<key>fileName</key>
			<string>4EC6DEA7-B854-42AF-A17D-FC57AFA83C05.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Drawer_close.wav.ogg</string>
			<key>fileName</key>
			<string>07E3E436-4B1B-41CA-803C-29E68298B16C.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Drawer_open.wav.ogg</string>
			<key>fileName</key>
			<string>6968DD0B-D84E-4C77-B190-90CDB1B526FA.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Flint_and_steel_click.ogg.mp3</string>
			<key>fileName</key>
			<string>166EDBE9-C000-4A1E-9E35-A7033644F488.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>In.ogg</string>
			<key>fileName</key>
			<string>C6A3B577-4401-4438-9FB1-B4F80E1A94E0.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Note_block_pling.ogg</string>
			<key>fileName</key>
			<string>DF1BFCE8-0BF5-468A-AB80-CAFBB660963B.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Select_pattern1.ogg.mp3</string>
			<key>fileName</key>
			<string>659170CE-8148-44EF-AC98-C65A5414792D.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Select_pattern2.ogg.mp3</string>
			<key>fileName</key>
			<string>33331D9E-C1F9-4308-BC19-887693CE9789.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Select_pattern3.ogg.mp3</string>
			<key>fileName</key>
			<string>51AFAB4D-D3F4-4B6B-8710-5E6B6A89E937.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Select_pattern4.ogg.mp3</string>
			<key>fileName</key>
			<string>35C64A6B-931D-4717-92A3-AE8B02765060.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Select_pattern5.ogg.mp3</string>
			<key>fileName</key>
			<string>0E8B9B31-CF2F-49DC-946A-F94BCE74C72B.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shovel_flatten1.ogg.mp3</string>
			<key>fileName</key>
			<string>F2F23A4B-E091-4D0C-9895-7B62DA2025F1.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shovel_flatten2.ogg</string>
			<key>fileName</key>
			<string>C590601F-ABB7-4F8B-9054-6FADAB94B081.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shovel_flatten3.ogg.mp3</string>
			<key>fileName</key>
			<string>F4115D7E-D1E2-40C9-8938-BE85F02098BA.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shovel_flatten4.ogg</string>
			<key>fileName</key>
			<string>1CE5E7B4-CBB9-4686-B5D8-03A71E38B3E1.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Snes_pop.ogg.mp3</string>
			<key>fileName</key>
			<string>C6A9265E-BD43-415E-B8D0-050CE33F56EC.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Stone_button_press.ogg.mp3</string>
			<key>fileName</key>
			<string>1A98C4F3-0DE1-477A-A0BB-BC82311BB3FB.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Stone_button_unpress.ogg</string>
			<key>fileName</key>
			<string>E1433AF0-263F-4B3B-973A-8E1D4DD9A4C5.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Wood_button_press.ogg.mp3</string>
			<key>fileName</key>
			<string>27DCA3DB-5F5D-4FF4-A948-888285A5016A.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Wood_button_unpress.ogg.mp3</string>
			<key>fileName</key>
			<string>4C276CEB-C920-4263-B41C-05F3D469ED3E.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
	</array>
	<key>displayName</key>
	<string>Minecraft</string>
	<key>schemaVersion</key>
	<integer>1</integer>
	<key>slotAssignments</key>
	<dict>
		<key>backspace</key>
		<array>
			<string>166EDBE9-C000-4A1E-9E35-A7033644F488.mp3</string>
		</array>
		<key>enter</key>
		<array>
			<string>4EC6DEA7-B854-42AF-A17D-FC57AFA83C05.mp3</string>
		</array>
		<key>escape</key>
		<array>
			<string>DF1BFCE8-0BF5-468A-AB80-CAFBB660963B.wav</string>
		</array>
		<key>launch</key>
		<array>
			<string>6968DD0B-D84E-4C77-B190-90CDB1B526FA.wav</string>
		</array>
		<key>quit</key>
		<array>
			<string>07E3E436-4B1B-41CA-803C-29E68298B16C.wav</string>
		</array>
		<key>space</key>
		<array>
			<string>F2F23A4B-E091-4D0C-9895-7B62DA2025F1.mp3</string>
			<string>C590601F-ABB7-4F8B-9054-6FADAB94B081.wav</string>
			<string>F4115D7E-D1E2-40C9-8938-BE85F02098BA.mp3</string>
			<string>1CE5E7B4-CBB9-4686-B5D8-03A71E38B3E1.wav</string>
		</array>
		<key>tab</key>
		<array>
			<string>C6A9265E-BD43-415E-B8D0-050CE33F56EC.mp3</string>
		</array>
		<key>typing</key>
		<array>
			<string>1A98C4F3-0DE1-477A-A0BB-BC82311BB3FB.mp3</string>
			<string>E1433AF0-263F-4B3B-973A-8E1D4DD9A4C5.wav</string>
			<string>27DCA3DB-5F5D-4FF4-A948-888285A5016A.mp3</string>
			<string>4C276CEB-C920-4263-B41C-05F3D469ED3E.mp3</string>
		</array>
	</dict>
</dict>
</plist>
