<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assets</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>ui_main_menu_cc_loading.ogg</string>
			<key>fileName</key>
			<string>5B23BC1B-0BA2-47F3-BF57-D3398C8BBCB3.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_menu_close.ogg</string>
			<key>fileName</key>
			<string>E5F951D9-3F49-4203-B58F-CDB4B9FF2519.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_menu_full_screen_close_01_Play.ogg</string>
			<key>fileName</key>
			<string>20EA93A9-8A06-4A2F-B93B-87528686D624.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_menu_hover.ogg</string>
			<key>fileName</key>
			<string>47A76221-60EA-486E-B8EB-C7B1B89A0878.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_menu_map_pin_on.ogg</string>
			<key>fileName</key>
			<string>8B8F025E-DDB4-45AB-A27D-5374354E48A0.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_menu_mouse_click.ogg</string>
			<key>fileName</key>
			<string>53A6A2BE-3BC3-4FE8-A0C7-3E09D8EF74D5.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_select_1.ogg</string>
			<key>fileName</key>
			<string>D82F9F97-A047-4ED1-B640-468520EBD97B.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_select_2.ogg</string>
			<key>fileName</key>
			<string>EF7D5602-782D-4E31-9FD0-1957E351A0BD.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_select_3.ogg</string>
			<key>fileName</key>
			<string>F419D571-5DDC-41C1-A3F3-AEB550A3DD47.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_select_4.ogg</string>
			<key>fileName</key>
			<string>E64BB4BB-A6B0-44F1-B707-BD26C42B55AB.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_typing_1.ogg</string>
			<key>fileName</key>
			<string>72208B5C-F1B1-4E19-BD8F-5DC3D94AA8A8.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_typing_2.ogg</string>
			<key>fileName</key>
			<string>532A8937-5F1D-4968-849C-5FBAD3C16BFD.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ui_messenger_typing_3.ogg</string>
			<key>fileName</key>
			<string>58790484-E9BF-4400-844B-47B924676D98.wav</string>
			<key>sourceExtension</key>
			<string>ogg</string>
		</dict>
	</array>
	<key>displayName</key>
	<string>Cyberpunk</string>
	<key>schemaVersion</key>
	<integer>1</integer>
	<key>slotAssignments</key>
	<dict>
		<key>backspace</key>
		<array>
			<string>E64BB4BB-A6B0-44F1-B707-BD26C42B55AB.wav</string>
			<string>532A8937-5F1D-4968-849C-5FBAD3C16BFD.wav</string>
			<string>58790484-E9BF-4400-844B-47B924676D98.wav</string>
		</array>
		<key>enter</key>
		<array>
			<string>F419D571-5DDC-41C1-A3F3-AEB550A3DD47.wav</string>
			<string>D82F9F97-A047-4ED1-B640-468520EBD97B.wav</string>
			<string>72208B5C-F1B1-4E19-BD8F-5DC3D94AA8A8.wav</string>
		</array>
		<key>escape</key>
		<array>
			<string>20EA93A9-8A06-4A2F-B93B-87528686D624.wav</string>
		</array>
		<key>launch</key>
		<array>
			<string>5B23BC1B-0BA2-47F3-BF57-D3398C8BBCB3.wav</string>
			<string>E5F951D9-3F49-4203-B58F-CDB4B9FF2519.wav</string>
		</array>
		<key>quit</key>
		<array/>
		<key>space</key>
		<array>
			<string>8B8F025E-DDB4-45AB-A27D-5374354E48A0.wav</string>
		</array>
		<key>tab</key>
		<array>
			<string>EF7D5602-782D-4E31-9FD0-1957E351A0BD.wav</string>
		</array>
		<key>typing</key>
		<array>
			<string>47A76221-60EA-486E-B8EB-C7B1B89A0878.wav</string>
		</array>
	</dict>
</dict>
</plist>
