<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assets</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>k2.mp3</string>
			<key>fileName</key>
			<string>47CA0F19-ACDD-469A-ACE2-000129868275.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>k3.mp3</string>
			<key>fileName</key>
			<string>F885DF22-4A05-4E01-A34D-449E70293FAE.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>k4.mp3</string>
			<key>fileName</key>
			<string>4BAE8146-1810-4F6F-8DC1-DC74C850B884.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>kenter.mp3</string>
			<key>fileName</key>
			<string>067F9E84-88DB-4C55-9646-08991B5E603B.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>poweron.mp3</string>
			<key>fileName</key>
			<string>42EB597B-CC3E-411E-85D2-0CB5B04415E2.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>poweroff.mp3</string>
			<key>fileName</key>
			<string>7F8D1C93-4B5A-42DC-8DED-ADC09B5FAFBE.mp3</string>
			<key>sourceExtension</key>
			<string>mp3</string>
		</dict>
	</array>
	<key>displayName</key>
	<string>Fallout Classic</string>
	<key>schemaVersion</key>
	<integer>1</integer>
	<key>slotAssignments</key>
	<dict>
		<key>backspace</key>
		<array/>
		<key>enter</key>
		<array>
			<string>067F9E84-88DB-4C55-9646-08991B5E603B.mp3</string>
		</array>
		<key>escape</key>
		<array/>
		<key>launch</key>
		<array>
			<string>42EB597B-CC3E-411E-85D2-0CB5B04415E2.mp3</string>
		</array>
		<key>quit</key>
		<array>
			<string>7F8D1C93-4B5A-42DC-8DED-ADC09B5FAFBE.mp3</string>
		</array>
		<key>space</key>
		<array/>
		<key>tab</key>
		<array/>
		<key>typing</key>
		<array>
			<string>47CA0F19-ACDD-469A-ACE2-000129868275.mp3</string>
			<string>F885DF22-4A05-4E01-A34D-449E70293FAE.mp3</string>
			<string>4BAE8146-1810-4F6F-8DC1-DC74C850B884.mp3</string>
		</array>
	</dict>
</dict>
</plist>
